* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-pet {

    height: 350px;
    margin-left: 125px;
    display: inline-block;

}


section {
    position:sticky;
    display:inline;
    margin-left: 86px;
}


header {

    margin: 44px 0 144px 76px;
}

.link-header {

    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #171818;
    cursor: pointer;
    margin-right: 25px;

}

.button-header {
    line-height: 30px;
    font-size: 15px;
    border-radius: 10px;
    color: rgb(72, 72, 69);
    cursor: grab;
    width: 60px;
    border: 1px solid;
    font-weight: bold;
    background-color: rgb(46, 190, 89);
    color: white;
}

h1 {

    font-size: 100px;
    color: #f2eded;
    margin-top: -27%;
    margin-left: 50%;
    
}

h2{
    font-weight: 500px;
    line-height: 26px;
    font-size: 30px;
    color: #e5dfdf; 
    margin-left: 50%;
}

p{
    font-weight: 400px;
    font-size: 24px;
    line-height: 23px;
    color: #c5c9c9;
    width: 515px;
    margin-top: 20px; 
    margin-left: 50%;   

}
.button-2{
    background-color:rgb(33, 170, 74);
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: 2px solid;
    bottom: 14px;
    margin-left: 76%;
    margin-top: 2%;   

}




body{

    background-color: rgb(22, 172, 89);
}

.button-2:hover{
    color: rgb(64, 2, 52);
}


.button-header:hover{
    color: rgb(64, 2, 52)
    
}

.link-header:hover{
color: rgb(236, 230, 241);

}

@media screen and (max-width:600px) {

    body{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1{
        margin-right: 50px;
        color: rgb(255, 254, 254);
    }
    .img-pet{
        height: 300px;
        margin-top: -80px;
        margin-left: 150px;
    }
    
    h1{
        font-size: 59px;
        margin-top: -4%;
        margin-left: 40px;
        margin-top: -30px;

    }

    h2{
        margin-left: 40px;
        font-size: 27px;
        margin-top: 10px;

    }

    p{
        font-size: 17px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .button-2{

        font-size: 20px;
        width: 100px;
        height: 40px;
        margin-left: 410px;
        margin-top: 20px;
    }

    .link-header{

        font-size: 15px;
         word-spacing: -10%;
        
    }


    .button-header{
        height: 29px;
        width: 45px;
        font-size: 13px;
      
       
    }


    }


    
    
    

    
    
    
    

